.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 6em 1.25em 2em 1.25em;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 20px 2px 4px 4px;
}
